html, body {
  padding: 0;
  margin: 0; }

.container {
  width: 1084px; }

#game {
  position: relative;
  overflow: hidden;
  width: 512px;
  height: 320px;
  background-color: black;
  transition: filter 5s;
  -webkit-transition: -webkit-filter 5s; }
  #game[data-effect="dark"] {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); }
  #game[data-effect="lighter"] {
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%); }

.layer {
  position: absolute;
  top: 0;
  left: 0; }

.tile {
  width: 32px;
  height: 32px;
  float: left; }

.item {
  position: absolute; }

.character {
  background-position: -32px 0;
  position: absolute;
  width: 32px;
  height: 32px; }

.character-name {
  text-align: center;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  color: white;
  font-weight: bold;
  position: absolute;
  width: 100px;
  margin-left: -50px;
  left: 50%;
  top: -20px;
  z-index: 3; }

svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: opacity 5s;
  -webkit-transition: opacity 5s; }
