html, body {
  padding: 0;
  margin: 0; }

.container {
  width: 572px; }

#game {
  position: relative;
  overflow: hidden;
  width: 512px;
  height: 320px;
  background-color: black; }

.layer {
  position: absolute;
  top: 0;
  left: 0; }

.tile {
  width: 32px;
  height: 32px;
  float: left; }

.character {
  background-position: -32px 0;
  position: absolute;
  width: 32px;
  height: 32px; }
