html, body{
  padding: 0;
  margin: 0;
}

.container{
  width: 572px;
}
#game{
  position: relative;
  width: 512px;
  height: 320px;
}
.layer{
  position: absolute;
  top: 0;
  left: 0;
}
.tile{
  width: 32px;
  height: 32px;
  float: left;
}
.character{
  background-position: -32px 0;
  position: absolute;
  width: 32px;
  height: 32px;
}

$animate-speed: 400ms;

.sprite-animate-down{
  animation: sprite-animate-down $animate-speed steps(1, end) infinite;
  -webkit-animation: sprite-animate-down $animate-speed steps(1, end) infinite;
}
.sprite-animate-left{
  animation: sprite-animate-left $animate-speed steps(1, end) infinite;
  -webkit-animation: sprite-animate-left $animate-speed steps(1, end) infinite;
}
.sprite-animate-right{
  animation: sprite-animate-right $animate-speed steps(1, end) infinite;
  -webkit-animation: sprite-animate-right $animate-speed steps(1, end) infinite;
}
.sprite-animate-up{
  animation: sprite-animate-up $animate-speed steps(1, end) infinite;
  -webkit-animation: sprite-animate-up $animate-speed steps(1, end) infinite;
}