doctype
html
  head
    title Mystalia Engine
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css", rel="stylesheet")
    link(href="stylesheets/style.css", rel="stylesheet")
  body
    #mainmenu.container
      h1 Mystalia Engine
      .panel.panel-default
        .panel-heading
          .panel-title Start
        .panel-body
          .row
            .col-sm-6
              #game.mar-bottom.pull-left
              each val in [0, 1, 2, 3, 4, 5]
                .btn.btn-primary(onclick="setmap(#{val})")=val

            .col-sm-6
              .console

    script(src="socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.4.4/phaser.min.js")
    script(src="/js/init.js")
    script(src="/js/map.js")
    script(src="/js/character.js")
    script(src="/js/hero.js")
