doctype
html
  head
    title Mystalia Engine
    link(href="stylesheets/vendor/bootstrap.min.css", rel="stylesheet")
    link(href="stylesheets/vendor/font-awesome.min.css", rel="stylesheet")
    link(href="stylesheets/style.css", rel="stylesheet")
  body
    #mainmenu.container
      .col-sm-4.col-sm-offset-4
        h1 Mystalia Engine
        .panel.panel-default
          .panel-heading
            .panel-title Login/Register
          .panel-body
            form#login-form(action="/login")
              h2.nomar-top Login
              .form-group
                input.form-control(placeholder="Username", name="username", type="text")
              .form-group
                input.form-control(placeholder="Password", name="password", type="password")
              .form-group
                button.btn.btn-primary.btn-block Login
                
            form#register-form(action="/register")
              h2 Register
              .form-group
                input.form-control(placeholder="Username", name="username", type="text")
              .form-group
                input.form-control(placeholder="Password", name="password", type="password")
              .form-group
                input.form-control(placeholder="Password Confirm", name="PasswordConfirm", type="password")
              .form-group
                button.btn.btn-primary.btn-block Register

    script(src="js/jquery-2.1.1.min.js")
    script(src="signup.js")