html
  head
    title Mystalia Engine
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/lumen/bootstrap.min.css", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="stylesheets/style.css", rel="stylesheet")
    link(href="stylesheets/map.css", rel="stylesheet")
  body
    #mainmenu.container
      h1 Mystalia Engine
      .panel.panel-default
        .panel-heading
          .panel-title Play
        .panel-body
          #game

    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="https://rawgit.com/jQueryKeyframes/jQuery.Keyframes/master/jquery.keyframes.min.js")
    script(src="tmx2html.js")
    script(src="js/keyboard.js")
      
    script(src="character.js")
    script(src="animation.js")
    script(src="map.js")
    script(src="input.js")
    script(src="init.js")