doctype
html
  head
    title Mystalia Engine
    link(href="stylesheets/vendor/bootstrap.min.css", rel="stylesheet")
    link(href="stylesheets/vendor/font-awesome.min.css", rel="stylesheet")
    link(href="stylesheets/style.css", rel="stylesheet")
    link(href="stylesheets/map.css", rel="stylesheet")
  body
    #mainmenu.container
      h1 Mystalia Engine
      .panel.panel-default
        .panel-heading
          .panel-title Play
        .panel-body
          .row
            .col-sm-6
              #game.mar-bottom.pull-left
            .col-sm-6
              #inventory.well
                
              #chat
                .form-group
                  .well#chat-well
                  .input-group
                    input.form-control(id="chat-input", type="text")
                    .input-group-btn
                      button#message-btn.btn.btn-primary Send

    script(src="socket.io/socket.io.js")
    script(src="js/jquery-2.1.1.min.js")
    script(src="js/jquery.keyframes.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/mustache.js")
    script(src="js/flashlight.js")
    script(src="tmx2html.js")
    script(src="js/keyboard.js")
      
    script(src="character.js")
    script(src="animation.js")
    script(src="map.js")
    script(src="input.js")
    script(src="ui.js")
    script(src="init.js")
