.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span ×
        h4.modal-title
      .modal-body
        p
        .row
          .col-sm-4.first
            .tile.inventory
              span
            .pull-left
          .col-sm-1
            .fa.fa-arrow-right
          .col-sm-5.second
            .tile.inventory
              span
            .pull-left
          .col-sm-2
            button.btn.btn-primary Trade
